---
layout: default
---

<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
  <tr>
    <td style="padding:16px;width:100%;vertical-align:middle">
      <h2>{{ page.title }}</h2>
      <p class="post-meta">{{ page.date | date: "%B %d, %Y" }}</p>
      <div class="post-content">
        {{ content }}
      </div>
      <p style="margin-top:32px;">
        <a href="{{ site.baseurl }}/musings/">&larr; Back to Musings</a>
      </p>
    </td>
  </tr>
</tbody></table>
